################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PSDLExporter/bin
/PSDLExporter/obj
/Testing/bin/Release
/Testing/obj
